<p id="notice"><%= notice %></p>

<h1>Comments</h1>


    <% @comments.each do |comment| %>

        <%= comment.author %>
        <%= comment.comment_entry %>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<br>

<%= link_to 'New Comment', new_comment_path %>
